<style>h1{
    color:blue
}
h2{
    text-decoration: double;
}
#first{
    font-size: 20px;text-decoration: line-through; background-image: url(https://pmcvariety.files.wordpress.com/2018/09/old-school-runescape.jpg?w=1000&h=563&crop=1);}
    </style>

